body {
  color: #ccffff;
  padding: 15px;
  font-family: Tahoma;
  font-size: 14px;
  background-color: #cc66ff;
}

.btn.btn-info {
  background-color: #ffccff;
  -webkit-border-radius: 8px;
  font-family: Tahoma;
  font-size: 14px;
  padding: 8px;
}

.btn.btn-success {
   background-color: #ffff66;
   -webkit-border-radius: 8px;
   font-family: Tahoma;
   font-size: 14px;
   padding: 8px;
 }

.btn.btn-primary {
  background-color: #ccff99;
  -webkit-border-radius: 8px;
  font-family: Tahoma;
  font-size: 14px;
  padding: 8px;
}

img {
  padding-top: 5px;
  padding-bottom: 5px;
}

a {
  color: #ffcc99;
}

form {
  padding: 10px 0 10px 0;
}

.fav-item {
  padding: 20px 0 20px 0;
}

.fav-image {
  width: 200px;
  display: inline;
  border: 2px solid;
}

.fav-date, .fav-title {
  display: inline;
  padding: 20px;
}

